:root {
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --ocean: #404bbf;
    --slate: #434455;
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
    --white: #fff;
    --grey: #2e2f42;
    --lslate: #8E8F99;
    --green: #31D0AA;
    --dairy: #FCFCFC;
    --black: #2E2F42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

body {
    color: var(--slate);
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    background-color: var(--white);
    letter-spacing: 0.03em;
}

.page-footer {
    padding: 60px 0;
    background-color: var(--navyblue);
}

.page-header {
    border-bottom: 1px solid var(--cornflower);
}

.logo-link {
    font-size: 0;
    text-decoration: none;
}

.logo-link>span {
    font-size: 18px;
}

.logo,
.studio {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.2;
    display: inline-block;
}

.studio {
    color: var(--navyblue);
    font-weight: 700;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu .page {
    font-weight: 500;
    text-decoration: none;
    color: var(--navyblue);
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu {
    margin-left: 93px;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
    color: var(--iris);
}

.nav-menu .page.current {
    position: relative;
    color: var(--ocean);
}

.nav-menu .page.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border: 2px solid var(--ocean);
    border-radius: 2px;
    background-color: var(--ocean);
}

.nav-menu .page.link {
    position: relative;
}

.nav-menu .page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 4px;
    border: 2px solid transparent;
    border-radius: 2px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu .page:hover::after,
.nav-menu .page:focus::after {
    border: 2px solid var(--ocean);
    background-color: var(--ocean);
    width: 100%;
}

.contacts-menu .contact {
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    padding: 200px 0;
    text-align: center;
}

.hero-title {
    font-weight: 700;
    color: var(--cloud);
    font-size: 56px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}

.button {
    font-family: inherit;
    border-color: transparent;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.button.primary {
    background-color: var(--iris);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus,
.button.filter.current {
    background-color: var(--ocean);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.benefits .item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.benefits .title {
    font-weight: 500;
    color: var(--navyblue);
    font-size: 20px;
    line-height: 1.14;
    margin-bottom: 10px;

}

.benefits .description {
    line-height: 1.71;
    font-size: 16px;
    font-weight: 400;
    color: var(--slate)
}

.what-we-do {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.what-we-do .item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.bg-team {
    background-color: var(--cloud);
}

.section {
    padding: 94px 0;
}

.section.no-top-padding {
    padding-top: 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    color: var(--navyblue);
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.team .item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12);
}

.substrate {
    background-color: var(--white);
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0;
}

.team .name,
.team .position {
    font-size: 16px;
    text-align: center;
    line-height: 1.17;
}

.team .name {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 10px;
}

.team .position {
    color: var(--slate);
    font-weight: 400;
}

.social-team {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-footer .link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--cloud);
    background-color: var(--iris);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer .link:hover,
.social-footer .link:focus {
    background-color: var(--green);
}

.social-team .link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--cloud);
    background-color: var(--iris);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-heading {
    color: var(--white);
    font-weight: 500;
}

.icon-item {
    width: 40px;
    height: 40px;
}

.social-team .link:hover,
.social-team .link:focus {
    background-color: var(--ocean);
}

.icon-social {
    fill: currentColor;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cloud);
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}

.partners {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.partners .link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--lslate);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lslate);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-item {
    width: 168px;
    height: 88px;
}

.partners .link:hover,
.partners .link:focus {
    border: 1px solid var(--ocean);
    color: var(--ocean);
}

.customer-icon {
    fill: currentColor;
}

.footer {
    display: flex;
    gap: 120px;
}

.footer-item {
    color: var(--white);
}

.bg-footer {
    background-color: var(--navyblue);
}

.logo-link.footer {
    margin-bottom: 20px;
}

.studio-footer {
    color: var(--cloud);
    font-weight: 700;
}

.footer-description {
    color: var(--cloud);
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 17px;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 24px;
}

.button.filter {
    background-color: var(--cloud);
    color: var(--iris);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
    background-color: var(--ocean);
    color: var(--cloud);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12)
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
}

.menu,
.navigation,
.nav-menu,
.contacts-menu {
    display: flex;
    align-items: center;
}

.contacts-menu {
    margin-left: auto;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
    margin-right: 50px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.projects-cover-wrap {
    position: relative;
    overflow: hidden;
}

.projects-cover-text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    background-color: var(--iris);
    color: var(--cloud);
    transform: translateY(101%);
    transition: transform 250ms ease-in-out;
}

.project-card {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project:hover .projects-cover-text,
.project:focus .projects-cover-text {
    transform: translateY(0);
}

.project .name {
    color: var(--navyblue);
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project .type {
    color: var(--slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}

/*For Modal*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 408px;
    min-height: 584px;
    background-color: var(--dairy);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    color: var(--black);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: none;
    opacity: 0;
    pointer-events: none;
}

.modal-close:hover {
    background-color: var(--ocean);
    color: var(--white);
}

.modal-close-icon {
    fill: currentColor;
}